* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body {

    background-image: url("mike.jpg");
    background-size: 300px 100px;
}

#messages-box {
    display: none;

    margin: 130px 50px;

    margin-bottom: 0;

    width: fit-content;
    
    border: 1px solid gray;

    border-radius: 6px;
}

#messages-container {
    
    width: 500px;
    height: 350px;

    overflow: scroll;

    border-radius: 9px;

}


#send-form {

    width: 500px;

    display: flex;

    flex-direction: row;

    justify-content: end; 

    border-bottom-left-radius: 6px;

}

#send-button {

    padding: 8px 10px;

    background-color: lightblue;

    transition-duration: 0.1s;


    border-bottom-right-radius: 6px;

    border: none;
}

#send-button:hover {

    background-color: rgb(0, 106, 255); 
    color: white;
}

#message-input-box {

    background-color: rgb(233, 233, 233);

    padding: 8px 10px;
    
    border: none;

    border-bottom-left-radius: 6px;
}

#message-input-box:focus {

    outline: none;
}



#join-box {

    display: flex;

    flex-direction: column;

    align-items: center;
}

#username-box {

    margin: 30px 0;

    padding: 10px;

    width: 250px;

    border-radius: 6px;

    border: none;

    background-color: rgb(233, 233, 233);

}

#username-box:hover {

    outline: none;
}

#username-button {

    margin: 20px;

    margin-top: 0;

    padding: 10px;

    width: 250px;

    transition-duration: 0.2s;

    cursor: pointer;

    background-color: rgb(67, 141, 190);

    color: white;

    border: none;

    border-radius: 6px;
}

#username-button:hover {

    background-color: rgb(117, 199, 117);

    color: white;
}

#welcome-p {

    margin-top: 130px;

    text-align: center;
}

#login-div {

    margin: 50px 0;
}

#end-session {
    display: none;

    margin: auto;

    margin-top: 20px;

    padding: 8px 10px;

    border-radius: 6px;

    border: none;

    background-color: rgb(255, 175, 166);

    transition-duration: 0.1s;
}

#end-session:hover {

    background-color: lightgreen;

    color: white;
}

#api-box {

    position: absolute;
    bottom: 0;
    left: 0;

    color: red;

    background-color: rgba(0, 0, 0, 0);
}

#dev-button {
    border: none;
    color: gray;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
}

.api-link {
    
    display: block;
    margin: 0 10px;

    color: black;
}

#website-div {

    width: 600px;
    height: 600px;

    display: block;
    margin: auto;
    margin-top: 50px;


    align-items: center;

    border: 1px solid black;

    border-radius: 9px;

    background-color: white;
}

#error-message {

    position: absolute;

    color: black;

    width: 500px;


    top: 70px;

    margin: 0 50px;

    text-align: center;

    z-index: 2;

}

h2 {
    text-align: center;

}


::-webkit-scrollbar {

    width: 5px;
  }
  
::-webkit-scrollbar-track {
    background: #ffffff; 
}
   
::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209); 

    border-radius: 6px;
}


#process-message {

    position: absolute;

    top: 130px;

    width: 500px;

    margin: 0 50px;

    text-align: center;
}